<div class="float-right mr-3 my-2">
    <label>{{ 'Show' | translate }}</label>
    <select class="form-control" [(ngModel)]="pageSize" (change)="paginate($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</div>
<div class="float-right mr-3 my-2">
    <label>{{ 'Category' | translate }}</label>
    <select class="form-control" [(ngModel)]="selectedCategorieId" (change)="filterByCategorie()">
        <option value=0 selected>{{ 'All' | translate }}</option>
        <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.titre }}</option>
    </select>
</div>
<div class="float-left mr-3 my-2">
    <label>{{ 'Barcode' | translate }}</label>
    <div class="input-group">
        <input type="text" class="form-control " [(ngModel)]="searchBarcode">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchByBarcode()">Search</button>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'Name' | translate }}</th>
            <th>{{ 'prix' | translate }}</th>
            <th>{{ 'Category' | translate }}</th>
            <th>{{ 'stock' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produit of produits | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
            <td><a [routerLink]="['/afficherproduit', produit.id]">{{produit.id}}</a></td>
            <td>{{ produit.nom }}</td>
            <td>  <input type="number" [(ngModel)]="produit.prixvente" (blur)="updatePrixvente(produit)"></td>

            <td>{{ produit.categorieid }} - {{ getCategorie(produit.categorieid)?.titre }}</td>
            <td>
                <ul>
                    <ng-container *ngFor="let rangement of rangements">
                        <li *ngIf="rangement.idproduit===produit.id && !produit.ispiece"  class="rangement-item">
                            <div class="rangement-info">
                                {{ getDepotnom(rangement.idcolonne) }} / {{ getColonnenom(rangement.idcolonne) }} /
                                <a [routerLink]="['/afficherrangement', rangement.id]">{{ rangement.nom }}</a>
                            </div>
                            <div class="rangement-stock">
                                <label for="stock-input-{{ rangement.id }}">{{ 'stock' | translate }}:</label>
                                <input type="number" [(ngModel)]="rangement.stock" name="stock-input-{{ rangement.id }}"
                                    id="stock-input-{{ rangement.id }}" (blur)="updateRangementStock(rangement)">
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event" previousLabel="Previous"
        nextLabel="Next"></pagination-controls>
</div>