    <form (submit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">{{ 'email' | translate }}</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newUser.email">
        </div>
        <div class="form-group col-md-6">
          <label for="password">{{ 'password' | translate }}</label>
          <input type="text" class="form-control" id="password" name="password" [(ngModel)]="newUser.password">
        </div>
      </div>
      
      <div class="form-group">
          <label for="role">{{ 'role' | translate }}</label>
          <select id="role" name="role" class="form-control" [(ngModel)]="newUser.role" >
            <option value="Admin">{{ 'admin' | translate }}</option>
            <option value="Employee">{{ 'employee' | translate }}</option>
          </select>
       
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstname">{{ 'FirstName' | translate }}</label>
          <input type="text" class="form-control" id="firstname" name="name" [(ngModel)]="newUser.name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="lastname">{{ 'LastName' | translate }}</label>
          <input type="text" class="form-control" id="lastname" name="lastname"  [(ngModel)]="newUser.lastName" required>
        </div>
      </div>
     
      <div class="form-group">
        <label for="phone">{{ 'phone' | translate }}</label>
        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="newUser.phone" required>
      </div>
      <div class="form-group">
        <label for="photo">{{ 'photo' | translate }}</label>
        <input type="text" class="form-control" id="photo" name="photo"  [(ngModel)]="newUser.photo">
      </div>
      <div class="form-group" *ngIf="newUser.role === 'Employee'">
        <label for="cin">{{ 'cin' | translate }}</label>
        <input type="number" class="form-control" id="cin" name="cin" [(ngModel)]="newUser.cin">
      </div>
      <div class="form-group" *ngIf="newUser.role === 'Employee'">
        <label for="typecontrat">{{ 'typecontrat' | translate }}</label>
        <input type="text" class="form-control" id="typecontrat" name="typecontrat" [(ngModel)]="newUser.typecontrat">
      </div>
      <div class="form-group" *ngIf="newUser.role === 'Employee'">
        <label for="salaire">{{ 'salaire' | translate }}</label>
        <input type="number" class="form-control" id="salaire" name="salaire" [(ngModel)]="newUser.salaire">
      </div>
      <div class="form-group"*ngIf="newUser.role === 'Employee'">
        <label for="salairebrut">{{ 'salairebrut' | translate }}</label>
        <input type="number" class="form-control" id="salairebrut" name="salairebrut" [(ngModel)]="newUser.salairebrut">
      </div>
      <div class="form-group" *ngIf="newUser.role === 'Employee'">
        <label for="permission">{{ 'permission' | translate }}</label>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>{{ 'Sale' | translate }}</th>
              <th>{{ 'Deposit' | translate }}</th>
              <th>{{ 'Provider' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" name="sale" [(ngModel)]="salePermission"></td>
              <td><input type="checkbox" name="deposit" [(ngModel)]="depositPermission"></td>
              <td><input type="checkbox" name="provider" [(ngModel)]="providerPermission"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">{{ 'Add' | translate }} </button>
      
      </form>
      
  