<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->

    <!-- Main section start -->
    <section id="home-page">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ 'Bienvenue' | translate }} </h4>
            </div>
            <div class="card-body pb-1">
              <p class="card-text">{{ 'p1' | translate }} </p>
              
              <p class="card-text">
                {{ 'p2' | translate }} 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Main section end -->
  </div>
</div>

