<h2>Change Password</h2>
          <form (ngSubmit)="onModify()">
            <div class="form-group">
              <label for="currentPassword">{{ 'CurrentPassword' | translate }}</label>
              <input type="password" class="form-control" id="currentPassword" name="currentPassword" autocomplete="off" [(ngModel)]="currentPassword">
            </div>
            <div class="form-group">
              <label for="newPassword">{{ 'NewPassword' | translate }}</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" autocomplete="off" [(ngModel)]="newPassword">
            </div>
           
            <button type="submit" class="btn btn-primary">{{ 'ChangePassword' | translate }}</button>
          </form>
