<form (submit)="onSubmit()" *ngIf="Fermeturecaisse">
    <div class="form-group" >
      <label for="debut">{{ 'Montantdedébut' | translate }}</label>
      <input type="text" class="form-control" id="debut" name="debut" [(ngModel)]="Fermeturecaisse.montantdebut" required>

    </div>
    <div class="form-group">
      <label for="totalcash">{{ 'totalcash' | translate }}</label>
      <input type="text" class="form-control" id="totalcash" name="totalcash" [(ngModel)]="Fermeturecaisse.totalcash" required>
    </div>
    <div class="form-group">
      <label for="totalcheck">{{ 'totalcheck' | translate }}</label>
      <input type="text" class="form-control" id="totalcheck" name="totalcheck" [(ngModel)]="Fermeturecaisse.totalcheck" required>
    </div>
    <div class="form-group">
      <label for="totalticketresto">{{ 'totalticketresto' | translate }}</label>
      <input type="text" class="form-control" id="totalticketresto" name="totalticketresto" [(ngModel)]="Fermeturecaisse.totalticketresto" required>
    </div>
    
  
  <button type="submit" class="btn btn-primary">{{ 'updatefermeturecaisse' | translate }}</button>
</form>
